body {
    background-color: #eeeeee;
    text-align: center;
}

header {
    display: block;
    width: calc(100% - 20px);
    margin: 0px 0px 20px 0px;
    border-radius: 5px;
    background-color: rgb(0, 0, 225);
    padding: 10px;
    text-align: left;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

canvas {
    border: 2px solid black;
    height: 80vh;
}

#sidebar {
    border: 2px solid black;
    float: right;
    margin-left: 5px;
    text-align: left;
    padding: 5px;
}